@import "tailwindcss";

@font-face {
  font-family: "Nasalization";
  src: url("/fonts/Nasalization Rg.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --bg: #0f0f0f;
  --text: #ffffff;
  --accent: #ef4444; /* rouge style */
}

.light {
  --bg: #ffffff;
  --text: #0f0f0f;
  --accent: #4e525b; /* bleu foncé */
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;

}

section[id] {
  scroll-margin-top: 90px;
}

body {
  background:
    radial-gradient(circle at 85% 50%, rgba(239, 68, 68, 0.08), transparent 35%),
    linear-gradient(
      90deg,
      #0F0F0F 0%,
      #202020 45%,
      #383838 75%,
      #4D4C4C 100%
    );

  color: var(--text);
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Nasalization", sans-serif;
}