:root {
  --bg: #0f0f0f;
  --text: #ffffff;
  --accent: #ef4444; /* rouge style */
}

.light {
  --bg: #ffffff;
  --text: #0f0f0f;
  --accent: #1d4ed8; /* bleu foncé */
}

body {
  background: var(--bg);
  color: var(--text);
}